.HtlsMapFilters {
    margin-top: 10px;
    margin-bottom: 15px;
    display: flex;
    gap: 20px;
}

.Wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    flex-direction: column;
}

.Icon {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.Checkbox {
    width: 15px;
    height: 15px;
}