
.MapMarker {
    min-width: 15px;
    min-height: 15px;
    color: var(--bs-primary);
    font-weight: 900;
}

.MarkerIcon {
    width: 15px;
    height: 15px;
}

.MarkerIcon:hover {
    width: 25px;
    height: 25px;
}

.Zoomed {
    width: 35px;
    height: 35px;
}

.Zoomed:hover {
    width: 45px;
    height: 45px;
}